@import "@radix-ui/colors/gray.css";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("./assets/fonts/Libre_Baskerville/LibreBaskerville-VariableFont_wght.woff2") format("woff2");
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("./assets/fonts/Libre_Baskerville/LibreBaskerville-Italic-VariableFont_wght.woff2") format("woff2");
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
}

:root {
  /* Layout */
  --header-height: 80px;
  --sidebar-padding-inline: 16px;
  --sidebar-padding-block-start: 0;
  --sidebar-padding-block-end: 16px;
  --detail-padding-inline: 16px;
  --detail-padding-block-start: 0;
  --detail-padding-block-end: 16px;

  /* Typography */
  --sidebar-collection-font-size: 14px;
  --sidebar-group-font-size: 12px;
  --detail-header-font-size: 18px;
  --detail-title-font-size: 14px;
  --detail-note-font-size: 12px;
  --menu-font-size: 14px;

  /* font face */
  font-family: "Inter", system-ui, sans-serif;
}
